---
import Layout from "../layouts/Layout.astro";
---

<Layout title='Welcome to Astro.'>
  <main class='prose mx-auto mt-16'>
    <h1>Hello World</h1>
    <h2>About this template</h2>
    <p>This is a simple starter setup utilizing:</p>
    <ul>
      <li><a href='https://daisyui.com'>Daisy UI</a></li>
      <li><a href='https://daisyui.com'>Tailwind CSS</a></li>
    </ul>
    <p>This template is fully <code>typesafe</code>.</p>
    <h2>Path Aliases:</h2>
    <li>
      <code>@components/*</code> path alias goes to <code
        >./src/components/*</code
      >
    </li>
    <li>
      <code>@assets/*</code> path alias goes to <code>./src/assets/*</code>
    </li>
    <li>
      <code>@layouts/*</code> path alias goes to <code>./src/layouts/*</code>
    </li>
  </main>
</Layout>
